body {
  
    background-image : url('bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
    font-family: 'Staatliches', cursive;
  }
  
  .countdownContainer {
    position: absolute;
    top :50% ;
    left: 50%;
        transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: white;
    padding: 5px;
    width: 100%;
    font-size: 40px;
  
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
  
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;}
  
    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
  }
  
  .info {
    font-size: 60px;
    
  }

  .info2 {
    font-size: 40px;
    color : red;
    text-align: center;
  }
.info3 {
    font-size: 40px;
    color : pink;
    text-align: center;
  }
.info4 {
    font-size: 30px;
    color : pink;
    text-align: center;
  }
.info5 {
    font-size: 25px;
    color : white;
    text-align: center;
  }
.info6 {
    font-size: 15px;
    color : white;
    text-align: center;
}
  #notBirthdayTime {
    color: white;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 40px;
  }
  
  #birthdayTime {
    display: none;
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
  
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;}
  
    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
  
    #birthdayTime h3 {
      position: absolute;
      top: 20%;
      right: 25%;
      font-size: 150px;
      color: white;
      z-index: 1;
    }
  
  #unicornPicture {
    position: absolute;
    height: 100%;
    top: 0%;
  }
